body {
    background-color: rebeccapurple;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    text-align:center;
    
}
button{
    padding: 5px 20px;
    background-color: blueviolet;
    border-color: white;
    border-style:none;
}

input {
    height: 20px;
}